*{margin:0;padding:0;box-sizing:border-box;}
body { 
	color: rgb(0,0,0);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: left;
}
section {
	background: url(../images/contact-us.jpg) no-repeat center center fixed; 
	background-size: cover;
	height:100vh;
}
h1{
	text-align: center;
	color:rgb(0,194,204);
	font-size: 2em;
}


p {
	margin:1em;
}

.intro{
	color: rgb(255,255,55);
	font-weight: bold;
	font-size: 1.5em;
	margin:1em 0 0 19em;
	padding:2em;
	text-transform: uppercase;
	width:33.33%;
}

.cta{
	color: rgb(0,0,0);
	font-size:1em;
	font-weight: bold;
	margin:1em 0 0 19em;
	padding:2em;
	text-align: center;
}

.ghostbutton {
	color: #fff;
  	border: .25em solid #000;
  	display: inline-block;
  	padding: 1em;
  	text-align: center;
  	text-decoration: none;
  }
  
 .menu1 {
 	float: right;
 	margin: 4em;
 }

div {
	background-color:rgba(255,255,255,.5);
	margin:1em 0 0 19em;
	padding:2em;
	width:33.33%;
}
li {
	margin:1em 0 0 1.2em;
}

.footer {
	text-align: center;
	color:rgb(0,194,204);
	font-size: .5em;
}

