html { 
  background: url(images\contact-us.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	text-align: center;
	color:rgb(0,194,204);
	font-size: 2em;
}
h2{
	text-align: center;
	color: rgb(255,255,255);
	font-size: 1.5em;
	text-transform: uppercase;
	}

h3{
	text-align: center;
	color: rgb(255,255,255);
	font-size:1em;
	font-weight: strong
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

body {
	color: rgb(0,0,0);
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}